@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik.ttf') format('truetype');
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla.ttf') format('truetype');
}

@font-face {
    font-family: 'Eczar';
    src: url('./fonts/Eczar.ttf') format('truetype');
}

@media only screen and (max-width: 376px) {

    .kidalogo {
        width: 72px !important;
        padding: 10px !important;
        margin: 0 !important;
    }

    .game-info {
        display: none !important;
    }

    .featuregame {
        height: auto !important;
    }

    .heading {
        font-size: 20px !important;
    }

    .backgroundimage {
        position: relative !important;
        height: 50% !important;
    }

    .overlay {
        position: relative !important;
        height: auto !important;
    }

    .section {
        font-size: 23px !important;
        margin-top: 85px !important;
    }

    .title {
        font-size: 38px !important;
    }

    .title-span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .games {
        /*margin-top: 20px !important;*/
        margin: 0 0 0 0 !important;
    }

    .gamesapp {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        margin: 10px 0 !important;
        /*gap: 0 !important;*/
    }

    /*.col {
        margin: 16px 0 !important;
    }*/

    .App {
        width: 275px !important;
        margin-top: 15px !important;
    }

    .games {
        margin-top: 0 !important;
    }

    .game-title {
        font-size: 36px !important;
        margin: 10px 0 0 0 !important;
    }

    .game-description {
        font-size: 16px !important;
        margin-top: 5px !important;
    }

    .getgames {
        margin-top: 20px !important;
        width: 30px !important;
        height: 20px !important;
        gap: 22px !important;
    }

    .store {
        width: 30px !important;
        height: 25px !important;
    }

    .notified {
        font-size: 18px !important;
        width: 170px !important;
        margin: 15px 0 0 0 !important;
    }

    .user-title{
        font-size: 28px !important;
    }

    .device-gallery-primary {
        display: none !important;
    }

    /*.dropdodge {
        width: 105px !important;
        height: 153px !important;
        margin: 0 0 0 -6px !important;
        !*margin: 0 !important;*!
        z-index: 1;
    }

    .phantompets {
        height: 130px !important;
        margin-left: -15px !important;
    }

    .tapshap {
        width: 350px !important;
        margin-left: -143px !important;
    }

    .mars {
        width: 220px !important;
        margin-left: -160px !important;
    }*/

    .device-gallery-secondary {
        overflow: hidden;
        width: 100% !important;
        display: flex !important;
        align-items: baseline !important;
    }

    /*@keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInBack {
        0% {
            transform: translateZ(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .animate-left {
        animation: slideInLeft 0.5s forwards;
    }

    .animate-right {
        animation: slideInRight 0.5s forwards;
    }

    .animate-back {
        animation: slideInBack 0.5s forwards;
    }*/

    .tapshap1 {
        width: 354px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: -132px !important;
    }

    .mars1 {
        width: 212px !important;
        margin-left: -82px !important;
    }

    .dropdodge1 {
        width: 102px !important;
        margin-left: -80px !important;
    }

    .phantompets1 {
        width: 52px !important;
        margin-left: -36px !important;
        margin-right: -11px !important;
    }


    .seamless-heading-primary,
    .seamless-heading-secondary
    {
        font-size: 16px;
    }

    .seamless-heading-primary-span {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .platform-container {
        display: flex;
        flex-direction: column !important;
    }

    .windows-primary,
    .platform-primary,
    .nintendoswitch-primary {
        display: none !important ;
    }

    .platform-secondary
    {
        display: flex !important;
        flex-direction: row !important;
        width: 90px !important;
        border-radius: 20px !important;
        padding: 5px !important;
    }

    .ios-secondary
    {
        display: flex !important;
        flex-direction: row !important;
        width: 80px !important;
        height: 80px !important;
        border-radius: 20px !important;
        padding: 25px !important;
    }

    .android-secondary {
        display: flex !important;
        flex-direction: row !important;
        width: 80px !important;
        height: 80px !important;
        border-radius: 20px !important;
        padding: 18px !important;
    }

    .windows-secondary {
        width: 80px !important;
        height: 80px !important;
        border-radius: 20px !important;
        padding: 27px !important;
    }

    .nintendoswitch-secondary {
        width: 80px !important;
        height: 80px !important;
        border-radius: 20px !important;
        padding: 17px !important;
    }

    .firetv-secondary {
        border-radius: 20px !important;
        width: 80px !important;
        height: 80px !important;
        padding: 25px !important;
    }

    .visionOS-secondary {
        border-radius: 20px !important;
        width: 80px !important;
        height: 80px !important;
        padding: 13px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 20px !important;
    }

    .visionOS-secondary img {
        padding: 0 !important;
        margin: 26px !important;
        width: 70px !important;
    }

    .appletv {
        width: 180px !important;
        height: 180px !important;
    }

    .appletv img {
        padding: 15px !important;
    }

    .engaging {
        font-size: 30px !important;
    }

    .PlatformAvailability {
        font-size: 13px !important;
        font-weight: 600 !important;
    }

    .paws {
        font-size: 23px !important;
    }

    .team {
        display: flex;
        flex-direction: column;
    }

    .laadu, .simba, .mishti {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .laadu-img, .mishti-img, .simba-img {
        width: 162px !important;
    }

    .pets-title {
        font-size: 26px !important;
        margin-top: 12px !important;
    }

    .CSO, .TTS, .PPO {
        font-size: 20px !important;
        margin-top: 10px !important;
    }

    .role {
        margin-top: 7px !important;
        margin-right: 15px !important;
    }

    .container {
        margin-top: 50px !important;
    }
    .header-box {
        margin: 0 0 !important;
    }

    .header {
        font-size: 18px !important;
        font-weight: bold;
    }

    .iphone {
        rotate: 270deg;
        margin: 100px 0;
    }

    .photo {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        width: 75% !important;
        gap: 30px !important;
    }

    .details {
        margin-top: 30px !important;
    }

    .camera {
        margin-top: 0 !important;
    }

    .application-form-container {
        margin-top: 30px !important;
    }

    .apply {
        width: 290px !important;
    }

    .apply-card {
        padding: 20px !important;
    }

    .card-title {
        font-size: 26px !important;
    }

    .card-des {
        font-size: 12px !important ;
        font-weight: 600 !important;
        margin: 8px 0 !important;
    }

    .apply-btn {
        font-size: 11px !important;
    }

    .join {
        margin-bottom: 30px !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 0 !important;
    }

    .newsletter {
        margin: 0 !important;
    }

    .newsletter-title {
        display: flex;
        font-size: 33px !important;
    }

    .subscribe {
        margin-top: 20px !important;
    }

    .des {
        font-size: 12px !important;
        width: 100% !important;
        margin-bottom: 10px !important;
    }

    .input {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .email {
        width: 280px !important;
    }

    .sub-button {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 21px !important;
    }

    .footer {
        display: flex !important;
        flex-direction: column !important;
    }

    .footerlogo {
        display: none;
    }

    .career {
        font-size: 12px !important;
        margin: 10px 25px 10px 0 !important;
    }

    .contact {
        font-size: 12px !important;
        margin: 10px 25px 10px 0 !important;
    }

    .trademark {
        font-size: 10px !important;
        font-weight: 900 !important;
        width: 100% !important;
        margin: 0 !important;
    }

    .startupindia {
        width: 100px !important;
        margin: 0 !important;
    }

    .number {
        font-size: 8px !important;
        margin: 0 !important;
    }

    .footerlogo1 {
        display: flex;
        width: 55px !important;
        height: 50px !important;
    }

    .duns {
        width: 55px !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 480px){

    .kidalogo {
        width: 72px !important;
        padding: 10px !important;
        margin: 0 !important;
    }

    .game-info {
        display: none !important;
    }

    .featuregame {
        height: auto !important;
    }

    .heading {
        font-size: 20px !important;
    }

    .backgroundimage {
        position: relative !important;
        height: 50% !important;
    }

    .overlay {
        position: relative !important;
        height: auto !important;
    }

    .section {
        font-size: 25px !important;
        margin-top: 80px !important;
    }

    .title {
        font-size: 24px !important;;
    }

    .games {
        margin-top: 0 !important;
    }

    .gamesapp {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        margin: 10px 0 !important;
    }

    .App {
        width: 275px !important;
        margin-top: 30px !important;
    }

    .game-title {
        font-size: 37px !important;
        margin: 10px 0 0 0 !important;
    }

    .game-description {
        font-size: 17px !important;
        margin-top: 10px !important;
    }

    .getgames {
        padding-top: 12px !important;
        width: 25px !important;
        height: 25px !important;
        gap: 15px !important
    }

    .store {
        width: 30px !important;
        height: 25px !important;
    }

    .notified {
        font-size: 20px !important;
        width: 190px !important;
        margin-top: 17px !important;
    }

    .user-title{
        font-size: 24px !important;
    }

    .device-gallery-primary {
        display: none !important;
    }

    /*.dropdodge {
        width: 105px !important;
        height: 153px !important;
        margin: 0 0 0 -6px !important;
        !*margin: 0 !important;*!
        z-index: 1;
    }

    .phantompets {
        height: 130px !important;
        margin-left: -15px !important;
    }

    .tapshap {
        width: 350px !important;
        margin-left: -143px !important;
    }

    .mars {
        width: 220px !important;
        margin-left: -160px !important;
    }*/

    .device-gallery-secondary {
        overflow: hidden;
        width: 100% !important;
        display: flex !important;
        align-items: baseline !important;
        /*justify-content: center !important;*/
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInBack {
        0% {
            transform: translateZ(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .animate-left {
        animation: slideInLeft 2s forwards;
    }

    .animate-right {
        animation: slideInRight 2s forwards;
    }

    .animate-back {
        animation: slideInBack 4s forwards;
    }

    .tapshap1 {
        width: 375px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: -123px !important;
    }

    .mars1 {
        width: 212px !important;
        margin-left: -67px !important;
    }

    .dropdodge1 {
        width: 102px !important;
        margin-left: -66px !important;
    }

    .phantompets1 {
        width: 52px !important;
        margin-left: -36px !important;
        margin-right: -11px !important;
    }

    .seamless-heading-primary {
        font-size: 12px !important;
    }

    .seamless-heading-secondary {
        font-size: 12px !important;
    }

    .platform-container {
        display: flex;
        flex-direction: column !important;
    }

    .windows-primary,
    .platform-primary,
    .nintendoswitch-primary
    {
        display: none !important ;
    }

    .platform-secondary,
    .android-secondary
    {
        display: flex !important;
        flex-direction: row !important;
        width: 100px !important;
        border-radius: 20px !important;
    }

    .windows-secondary {
        width: 100px !important;
        height: 100px !important;
        border-radius: 20px !important;
        padding: 30px !important;
        margin: 20px !important;
    }

    .ios-secondary {
        width: 100px !important;
        height: 100px !important;
        border-radius: 20px !important;
    }

    .nintendoswitch-secondary {
        width: 100px !important;
        height: 100px !important;
        border-radius: 20px !important;
    }

    .firetv-secondary {
        border-radius: 20px !important;
        width: 100px !important;
        height: 100px !important;
        padding: 28px !important;
    }

    .appletv {
        width: 230px !important;
        height: 230px !important;
    }

    .visionOS-secondary {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100px !important;
        height: 100px !important;
        border-radius: 20px !important;
        margin: 20px !important;
    }

    .visionOS-secondary img {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 150px !important;
        padding: 11px !important;
        margin: 40px !important;
    }

    .android-secondary {
        width: 100px !important;
        height: 100px !important;
    }

    .engaging {
        font-size: 30px !important;
    }

    .PlatformAvailability {
        font-size: 12px !important;
    }

    /*.seamless-heading-primary-span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px !important;
    }*/

    .paws {
        font-size: 30px !important;
    }

    .mishti, .laadu, .simba {
        margin: 20px !important;
    }

    .mishti-img {
        width: 160px !important;
        margin: 0 55px !important;
    }

    .pets-title {
        margin-top: 20px !important;
    }

    .laadu-img {
        width: 160px !important;
        margin: 0 55px !important;
    }

    .simba-img {
        width: 160px !important;
        margin: 0 55px !important;
    }

    .team {
        display: flex !important;
        flex-direction: column !important;
    }

    .role, .CSO, .PPO, .TTS {
        padding-top: 5px !important;
    }

    .container {
        margin-top: 80px !important;
    }

    .header-box {
        margin: 0 0 !important;
    }

    .header {
        font-size: 20px !important;
        font-weight: bold;
    }

    .iphone {
        rotate: 270deg;
        margin: 100px 0;
    }

    .photo {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        width: 75% !important;
        gap: 30px !important;
    }

    .details{
        margin-top: 30px !important;
    }

    .camera {
        margin-top: 0 !important;
    }

    .newsletter-container {
        width: 100vw !important;
        height: 50vh !important;
        margin: 10px 0 !important;
    }

    .application-form-container {
        margin-top: 20px !important;
    }

    .apply {
        width: 250px !important;
        height: 130px !important;
    }

    .apply-card {
        padding: 10px !important;
    }

    .card-title {
        font-size: 16px !important;
        margin-left: -10px !important;
    }

    .card-des {
        font-size: 8px !important ;
        font-weight: 600 !important;
        margin: 8px 0 !important;
    }

    .apply-btn {
        font-size: 11px !important;
        margin-top: 10px !important;
    }

    .join {
        margin-bottom: 0 !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 0 !important;
    }

    .newsletter {
        margin: 0 !important;
    }

    .newsletter-title {
        display: flex !important;
        font-size: 25px !important;
    }

    .subscribe {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 5px !important;
    }

    .des {
        font-size: 12px !important;
        width: 100% !important;
    }

    .input {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }

    .email {
        width: 267px !important;
    }

    .sub-button {
        width: 158px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 14px !important;
        margin: 25px 55px !important;
        letter-spacing: 1px !important;
    }

    .footer {
        display: flex !important;
        flex-direction: column !important;
    }

    .footerlogo {
        display: none;
    }

    .career {
        font-size: 12px !important;
        margin: 10px 25px 10px 0 !important;
    }

    .contact {
        font-size: 12px !important;
        margin: 10px 25px 10px 0 !important;
    }

    .trademark {
        font-size: 10px !important;
        font-weight: 900 !important;
        width: 100% !important;
        margin: 0 !important;
    }

    .startupindia {
        width: 100px !important;
        margin: 0 0 0 0 !important;
    }

    .number {
        font-size: 8px !important;
        margin: 0 0 0 0 !important;
    }

    .footerlogo1 {
        display: flex;
        width: 55px !important;
        height: 50px !important;
    }

    .duns {
        width: 55px !important;
        margin-left: 0 !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .kidalogo {
        width: 85px !important;
    }

    .navbar-btn {
        font-size: 12px !important;
    }

    .games-preview {
        width: 100vw !important;
    }

    .game-info-heading {
        font-size: 40px !important;
    }

    .game-info-description {
        font-size: 14px !important;
    }

    .platform {
        width: 20px !important;
        height: 20px !important;
    }

    .buynow-btn, .play-btn {
        font-size: 11px !important;
        padding: 6px !important;
        width: 80px !important;
    }

    .section {
        font-size: 25px !important;
    }

    .title {
        font-size: 35px !important;
    }

    .games {
        margin-top: 0 !important;
    }

    .gamesapp {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        margin: 10px 0 !important;
    }

    .App {
        width: 350px !important;
        margin-top: 30px !important;
    }

    .game-title {
        font-size: 40px !important;
    }

    .game-description {
        font-size: 20px !important;
    }

    .notified {
        margin-top: 15px !important;
    }

    .user-title  {
        font-size: 50px !important;
    }

    .device-gallery-primary {
        overflow: hidden;
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInBack {
        0% {
            transform: translateZ(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .animate-left {
        animation: slideInLeft 2s forwards;
    }

    .animate-right {
        animation: slideInRight 2s forwards;
    }

    .animate-back {
        animation: slideInBack 4s forwards;
    }

    .dropdodge {
        margin-right: -12px !important;
        margin-left:  40px !important;
        width: 130px !important;
    }

    .phantompets {
        width: 70px;
        height: 130px;
        margin: 0 12px 0 0 !important;
    }

    .tapshap {
        margin-left: -29px;
        width: 320px;
        height: 238px;
    }

    .mars {
        margin-left: -46px !important;
        width: 204px;
    }

    .seamless-heading-primary {
        font-size: 24px !important;
    }

    .seamless-heading-secondary {
        font-size: 24px !important;
    }

    .windows-primary,
    .ios,
    .firetv,
    .visionOS,
    .android,
    .nintendoswitch-primary
    {
        width: 100px !important;
        height: 100px !important;
        border-radius: 25px !important;
        padding: 1rem !important;
    }

    .windows-primary img {
        width: 40px !important;
        height: 40px !important;
    }

    .appletv {
        width: 180px !important;
        height: 180px !important;
        border-radius: 25px !important;
    }

    .nintendoswitch-primary img {
        width: 70px !important;
    }

    .engaging  {
        font-size: 50px !important;
    }

    .PlatformAvailability {
        font-size: 17px !important;
    }

    .paws {
        font-size: 50px !important;
    }

    .team {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        gap: 20px !important;
    }

    .mishti, .laadu {
        text-align: center !important;
    }

    .simba {
        text-align: center !important;
        margin-top: 50px !important;
    }

    .role {
        margin-top: 10px;
        text-align: center;
    }

    .header {
        font-size: 25px !important;
        font-weight: bold;
    }

    .photo {
        width: 95% !important;
    }

    .application-form-container {
        margin-top: 50px !important;
    }

    .apply {
        width: 416px !important;
        height: 191px !important;
    }

    .apply-card {
        padding: 20px !important;
    }

    .card-title {
        font-size: 36px !important;
    }

    .card-des {
        font-size: 17px !important ;
        font-weight: 600 !important;
        margin: 8px 0 !important;
    }

    .apply-btn {
        font-size: 18px !important;
    }

    .join {
        margin-bottom: 50px !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 0 !important;
    }

    .newsletter {
        margin: 0 !important;
    }

    .newsletter-title {
        display: flex !important;
        flex-direction: row !important;
        font-size: 42px !important;
    }

    .subscribe {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 25px !important;
    }

    .des {
        font-size: 20px;
        width: 118% !important;
    }

    .input {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center;
        justify-content: center;
    }

    .email {
        width: 272px !important;
    }

    .sub-button {
        width: 158px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 14px !important;
        margin: 25px 55px !important;
        letter-spacing: 1px !important;
    }

    .footer {
        display: flex;
        padding: 15px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .footerlogo {
        width: 55px !important;
        height: 55px !important;
        margin: 10px !important;
    }

    .career {
        font-size: 10px !important;
    }

    .contact {
        font-size: 10px !important;
    }

    .trademark {
        font-size: 8px !important;
        font-weight: 900 !important;
    }

    .startupindia {
        width: 70px !important;
    }

    .number {
        font-size: 8px !important;
    }

    .duns {
        width: 70px !important
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .games-preview {
        width: 100% !important;
    }

    .game-info-heading {
        font-size: 55px !important;
    }

    .game-info-description {
        font-size: 15px !important;
    }
    .app-images {
        gap: 0 !important;
        width: 125px !important;
    }

    .handygamesicon {
        margin: 50px 0 !important;
    }

    .title {
        font-size: 50px !important;
    }

    .gamesapp {
        margin: 40px 0 !important;
    }

    .App {
        width:330px !important;
    }

    .game-title {
        font-size: 45px !important;
    }

    .game-description {
        font-size: 16px !important;
    }

    .user-title {
        font-size: 60px !important;
    }

    .device-gallery-primary {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInBack {
        0% {
            transform: translateZ(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .animate-left {
        animation: slideInLeft 2s forwards;
    }

    .animate-right {
        animation: slideInRight 2s forwards;
    }

    .animate-back {
        animation: slideInBack 4s forwards;
    }

    .dropdodge {
        margin:0 -61px 0 0 !important;
        width: 139px !important;
    }

    .phantompets {
        width: 70px;
        margin-left: 45px !important;

    }

    .tapshap {
        margin-left: -21px;
        width: 333px;
    }

    .mars {
        margin-left: -56px !important;
        width: 260px;
    }

    .seamless-heading-primary {
        font-size: 22px;
    }

    .seamless-heading-secondary {
        font-size: 20px;
    }

    .windows-primary {
        width: 100px !important;
        height: 100px !important;
        padding: 1.25rem !important;
        border-radius: 20px !important;
    }

    .windows-primary img {
        width: 50px !important;
        height: 50px !important;
        padding: 5px !important;
    }

    .ios, .firetv, .visionOS, .android {
        width: 100px !important;
        height: 100px !important;
        border-radius: 20px !important;
    }

    .android img {
        width: 75px !important;
        height: 70px !important;
    }

    .visionOS img {
        padding: 5px !important;
    }

    .ios img {
        margin: 13px !important;
    }

    .appletv {
        width: 200px !important;
        height: 200px !important;
    }

    .appletv img{
        width: 140px !important;
        height: 70px !important;
    }

    .nintendoswitch-primary {
        width: 100px !important;
        height: 100px !important;
        border-radius: 20px !important;
    }

    .paws {
        font-size: 60px !important;
    }

    .mishti-img {
        width: 200px;
        margin-left: 22px;
    }

    .mishti-role {
        margin-left: -19px !important;
    }

    .laadu-img {
        width: 200px;
        margin-left: 32px;
    }

    .laadu-role {
        margin-left: -8px;
    }

    .simba-img {
        width: 200px;
        margin-left: 9px;
    }

    .simba-role {
        margin-left: -10px !important;
        font-size: 13px !important;
    }

    .mishti-role {
        font-size: 13px !important;
        margin-left: -8px !important;
    }

    .laadu-role {
        font-size: 13px !important;
    }

    .role, .CSO, .PPO, .TTS {
        margin-top: 7px !important;
    }

    .application-form-container {
        margin-top: 100px !important;
    }


    .apply {
        width: 416px !important;
        height: 191px !important;
    }

    .apply-card {
        padding: 20px !important;
    }

    .card-title {
        font-size: 36px !important;
    }

    .card-des {
        font-size: 17px !important ;
        font-weight: 600 !important;
        margin: 8px 0 !important;
    }

    .apply-btn {
        font-size: 18px !important;
    }

    .join {
        margin-bottom: 100px !important;
        display: flex !important;
        flex-direction: column;
        gap: 0 !important;
    }

    .newsletter {
        margin: 0 !important;
    }

    .newsletter-title {
        font-size: 60px !important;
        display: flex;
    }

    .newsletter-title span {
        margin-left: 12px;
    }

    .subscribe {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .des {
        font-size: 20px;
        width: 108% !important;
        margin-top: 20px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .email {
        width: 272px !important;
        height: 50px !important;
        margin: 25px 0 !important;
    }

    .sub-button {
        width: 158px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 14px !important;
        margin: 25px 55px !important;
        letter-spacing: 1px !important;
    }

    .sub-button {
        margin: 50px;
    }

    .footerlogo {
        width :80px !important;
        height: 80px !important;
        margin: 10px !important;
    }

    .career {
        font-size: 15px !important;
    }

    .contact {
        font-size: 15px !important;
    }

    .trademark {
        font-size: 10px !important;
    }

    .startupindia {
        width: 125px !important;
    }

    .number {
        font-size: 12px !important;
    }

    .duns {
        width: 80px !important
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .game-title {
        font-size: 53px !important;
    }

    .game-description {
        font-size: 18px !important;
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInBack {
        0% {
            transform: translateZ(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .animate-left {
        animation: slideInLeft 2s forwards;
    }

    .animate-right {
        animation: slideInRight 2s forwards;
    }

    .animate-back {
        animation: slideInBack 4s forwards;
    }

    .dropdodge {
        margin-right: -23px !important;
        margin-left: 105px !important;
        width: 200px;
        height: 246px;
    }

    .phantompets {
        width: 118px !important;
        height: 195px !important;
        margin-left: 5px !important;
    }

    .mars {
        width: 340px !important;
        height: 220px !important;
    }

    .seamless-heading-primary, .seamless-heading-secondary {
        font-size: 40px !important;
    }

    .application-form-container {
        margin-top: 50px !important;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px)  {

    .games-preview {
        width: 100% !important;
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slideInBack {
        0% {
            transform: translateZ(-1000px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }

    .animate-left {
        animation: slideInLeft 0.5s forwards;
    }

    .animate-right {
        animation: slideInRight 0.5s forwards;
    }

    .animate-back {
        animation: slideInBack 0.5s forwards;
    }

    .phantompets {
        width: 165px !important;
    }

    .dropdodge {
        margin-left: -25px !important;
    }

    .device-gallery-primary {
        display: flex ;
        align-items: baseline;
        justify-content: center;
        overflow: hidden;
    }

    .application-form-container {
        margin-top: 50px !important;
    }

    .seamless-heading-primary, .seamless-heading-secondary {
        font-size: 30px !important;
    }

}